* {
  font-size: 1.5rem;
}
.child {
  width: 30%;
  height: 100px;
  background-color: blue;
}
.container {
  height: 400px;
  display: flex;
  background-color: aqua;
  flex-wrap: wrap;
  align-content: space-between;
}
